*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,body,#app,.m-wrap{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.m-wrap{
   display: flex;
   flex-direction: column;
}

.m-head{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: orange;
    color: #fff;
    font-size: 18px;
}

.m-main{
    flex: 1;
    width: 100%;
    overflow: auto;
}

.m-home{
    width: 100%;
    height: 100%;
    header{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #ccc;
        a.router-link-active{
            color: red;
        }
    }
}

.m-sift{
    width: 100%;
    height: 100%;
    background: #ead5cb;
    padding: 5px;
}

.m-hot{
    width: 100%;
    height: 100px;
    .swiper-container{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.m-list{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    span{
        flex: 1;
        border: 1px solid pink;
        text-align: center;
        margin: 0 3px;
        background: #fff;
        height: 100%;
        line-height: 40px;
    }
}

.m-super{
    width: 100%;
    h4{
        height: 30px;
        line-height: 30px; 
        background: #fff;
        margin-bottom: 3px;
    }
    .m-super-item{
        width: 100%;
        height: 120px;
        margin-bottom: 5px;
        dl{
            width: 100%;
            height: 100%;
            display: flex;
            background: #fff;
            dt{
               flex: 3;
               img{
                   width: 100%;
                   height: 100%;
               }
               img[lazy=loaded]{
                 zoom:0.2
            }
            }
            dd{
              flex: 7;
              padding-left: 12px;
              h3{
                  line-height: 30px;
              }
              p{
                  line-height: 30px;
                  span{
                     margin: 5px;
                  }
              }
            }
        }
    }
}

.m-sift-item{
    width: 100%;
    background: #ead5cb;
    h4{
        line-height: 37px;
        background: rgb(255, 213, 213);
        border-bottom: 1px solid #ccc;
        color: rgb(114, 63, 63);
       
    }
    .m-sift-item-list{
        width: 100%;
        height:150px ;
        margin:4px 0 ;
        dl{
            width: 100%;
            height: 100%;
            display: flex;
            dt{
                width: 30%;
                flex: 3;
                img{
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
                img[lazy=loading]{
                    width: 100px;
                    height: 100px;
                    zoom:0.6;
                   margin:40px auto;
               }
            }
            dd{
                width: 70%;
                flex: 7;
                padding-left: 12px;
                p{
                    line-height: 40px;
                    span{
                       i{
                           margin: 0 6px;
                           font-style:normal
                       }
                    }
                    &:last-child{
                        width: 100%;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                
                    }
                }
            }
        }
    }
    .m-sift-bottom{
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #fff;
    }
}


.m-detail{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.m-detail-item{
    width: 100%;
    height: 230px;
   
    h2{
        line-height: 60px;
        text-align: center;
    }
    .m-detail-center{
        width: 100%;
        height: 150px ;
        margin: 5px 0;
        dl{
            width: 100%;
            height: 100%;
            display: flex;
            dt{
                flex: 3;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            dd{
                flex: 7;
                padding-left: 12px;
                p{
                    line-height: 35px;
                    font-size: 14px;
                }
            }
        }
    }
    .m-detail-bottom{
        width: 100%;
        height: 45px;
        display: flex;
        span{
            width: 90%;
            height: 100%;
            line-height: 45px;
            flex: 1;
            text-align: center;
            border: 1px solid #ccc;
            margin: 0 5px;
            &:nth-child(2){
                background: rgb(173, 76, 63);
                color: #fff;
            }
        }
    }
}

.m-book{
    width: 100%;
    height: 100%;
    background: #eee;
}
.m-book1{
    width: 100%;
    padding: 5px;
    .m-book-head{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }
    .m-book-right{
        padding-right: 12px;
        span{
            margin: 0 10px;
            border: 1px solid pink;
            &.active{
                border-color:  red;
            }
        }
    }
    .m-book-item{
        width: 100%;
        height: 120px;
        dl{
            width: 100%;
            height: 100%;
            display: flex;
            margin: 6px 0;
            dt{
                flex: 3;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            dd{
                flex: 7;
                padding-left: 6px;
                display: flex;
                h3{
                    flex: 7;
                }
                p{
                    flex: 3;
                    span{
                        line-height: 30px;
                         border: 1px solid rgb(240, 177, 198) ;
                    }
                }
            }
        }
    }
}


.hiden{
    display: none;
}

.show{
   display: block;
}